*{
  font-family: monospace;
}

.App {
  text-align: center;
  background-color: #000000;
  min-height: min-content;
  max-height: max-content;
}


h1 {
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: center;
}

textarea {
  resize: none;
  background-color: purple;
}

.logo {
  width: 100px;
  margin-top: 10rem;
}

.navbar {
  background-color: #000000;
  color: #ffffff;
}

.botones {
  margin: 10px auto 20px auto;
}

.boton1 {
  height: 30px;
  width: 110px;
  padding: 0.5rem;
  margin: auto 10px auto auto;
  border-radius: 10px;
  font-size: 20px;
  background-color: gray;
  cursor: pointer;
}
.boton1:hover {
  background-color: #ffffff;
  color: #000000;
}
.botones input[type="file"] {
  display: none;
}

.boton2 {
  height: 30px;
  width: 110px;
  margin: auto auto auto 10px;
  font-size: 20px;
  background-color: gray;
}

.codigo {
  margin: 0 0 0 20px;
  float: left;
  width: 40%;
  height: 79vh;
}

.codigo{
  background: url(http://i.imgur.com/2cOaJ.png);
background-attachment: local;
background-repeat: no-repeat;
padding-left: 35px;
padding-top: 10px;
  border-color:#ccc;
  background-color: purple;
}

.resultado {
  margin: 0 20px 0 0;
  float: right;
  width: 40%;
  height: 79vh;
  background-color: purple;
  border: 2px solid #efeeee;
  font-size: 1.2rem;
  font-weight: bolder;
}

.resultado div {
  width: 100%;
  height: 50vh;
  overflow: scroll;
}

.resultado table {
  border: 1px solid #efeeee;
}
th {
  border: 1px solid #efeeee;
}
td {
  border: 1px solid #efeeee;
}
@media (max-width: 900px) {
  .resultado div {
    height: 30vh;
  }
}

.resultado p {
  height: 7rem;
  overflow: scroll;
  font-size: 1rem;
}

.resultado span {
  font-size: 2rem;
  font-weight: bolder;
}

.App-link {
  color: #61dafb;
}