*{
  font-family: monospace;
}

.App {
  text-align: center;
  background-color: #000000;
  height: 100vh;
}

h1 {
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: center;
}

textarea {
  resize: none;
  background-color: purple;
}

.logo {
  width: 100px;
  margin-top: 10rem;
}

.navbar {
  background-color: #000000;
  color: #ffffff;
}

.botones {
  margin: 10px auto 20px auto;
}

.boton1 {
  height: 30px;
  width: 110px;
  margin: auto 10px auto auto;
  font-size: 20px;
  background-color: gray;
}

.boton2 {
  height: 30px;
  width: 110px;
  margin: auto auto auto 10px;
  font-size: 20px;
  background-color: gray;
}

.codigo {
  margin: 0 0 0 20px;
  float: left;
  width: 40%;
  height: 79vh;
}

.resultado {
  margin: 0 20px 0 0;
  float: right;
  width: 40%;
  height: 79vh;
}

.App-link {
  color: #61dafb;
}